/* nav */
#main-menu {
    float: right;
    margin: 0;
    clear: right;
    padding-top: 15px;
}

@media (min-width: 992px){
    .nav-tabs .dropdown-menu{
        margin-top: 0;
    }
    
    .navbar-we-mega-menu{
        background: none;
        border: none;
        box-shadow: none;
        margin-bottom: 0;
        @include display-flex;
        @include border-radius(0);
        min-height: inherit;
        > .container-fluid{
            margin-right: 0;
            margin-left: 0;
        }
        .we-mega-menu-row{
            margin: 0;
            display: block;
            max-width: inherit;
            > *{
                margin: 0;
                display: block;
                max-width: inherit !important;
            }
        }
        .nav-tabs > li{
            margin-bottom: 0;
        }
    }

    .we-mega-menu-submenu {
        position: absolute;
        left: 0;
        top: 30px;
        z-index: 100;
        background: #272727;
        border: 5px solid $red;
        width: 220px;
        @include box-shadow(inherit !important);
        z-index: 999;
        margin-top: 0;
        margin-left: 0;
        padding: 0;
         >.we-mega-menu-submenu-inner{
            min-height: inherit;
        }
        li.we-mega-menu-li{
            float: none;
            border: none;
            margin: 0;
            padding: 0;
            border-top: #444 solid 1px;
            a {
                color: $black;
                border-radius: 0;
                padding: 7px 15px;
                text-transform: none;
                font-family: arial;
                font-size: 1em;
                border: 0 none;
                margin: 0;
                font-weight: normal;

                &:hover,
                &:focus {
                    background: none;
                    color: $red;
                    background-color: none;
                    text-decoration: none;
                    border-radius: 0;
                }
                &:before{
                    margin-top: -6px;
                }
            }
            &.active, &.active-trail{
                a, a:hover, a:focus{
                    background: none;
                    color: $black;
                }
            }
            &:first-child {
                border: 0 none;
                > a{
                    padding-top: 7px;
                    &:before,
                    &:after{
                        margin-top: -6px;
                    }
                }

            }
        }
    }

    
    .we-mega-menu-ul{
        >.we-mega-menu-li{
            list-style-image: none;
            list-style-type: none;
            padding: 0;
            float: left;
            margin: 0 0 0 2px;
            position: relative;
            border: 0 none;
            >a{
                font-family: 'oswaldregular';
                text-transform: uppercase;
                color: $black;
                display: block;
                padding: 4px 20px;
                font-size: 1.14em;
                background-color: transparent;
                &:hover, &:focus {
                    color: $red;
                    background-color: transparent;
                }
            }
            &.active, &.active-trail{
                > a, > a:hover, > a:focus {
                    background: $red;
                    color: $white;
                }
            }
        }
        .dropdown-menu {
            background: none;
            > a {
                padding-right: 25px;
                &:before {
                    content: "\f0dd";
                    color: $black;
                    @include fontawesome;
                    position: absolute;
                    right: 9px;
                    top: 50%;
                    // font-size: 8px;
                    background: none;
                    width: auto;
                    height: auto;
                    line-height: 1;
                    margin-top: -10px;
                }
                &:after{
                    display: none;
                }
            }
            ul.menu{
                > li{
                    > a{
                        border-left: none;
                    }
                }
                a{
                    background-color: #19609b;
                }
            }
            .dropdown-menu:first-child>.we-mega-menu-submenu{
                margin-top: -5px;
            }

        }
        li{
            &.dropdown-menu{
                list-style-image: none;
                list-style-type: none;
                &:hover, &:focus {
                    > a {
                        background: $red;
                        color: $white;
                    }
                    > ul.menu {
                        display: block;
                    }
                }

            }
        }
    }

}

.navbar-default {
    background: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    min-height: 0;

    .container-fluid {
        padding: 0;
    }

    .navbar-collapse.collapse {
        border: none;
    }

    .navbar-collapse {
        max-height: 20000px;
        padding-left: 0;
        padding-right: 0;
    }

    .container {
        padding: 0 !important;
        width: auto;
    }

    ul.menu {
        margin: 0;

        > li {
            float: left;
            margin: 0 0 0 2px;
            position: relative;

            > a {
                font-family: 'oswaldregular';
                text-transform: uppercase;
                color: $black;
                display: block;
                padding: 4px 20px;
                font-size: 1.14em;

                &:hover, &:focus {
                    color: $red;
                }
            }

            > a.active {
                background: $red;
                color: $white;
            }

            &:hover, &:focus {
                > a {
                    background: $red;
                    color: $white;
                }

                ul.menu {
                    display: block;
                }
            }
        }

        .expanded {
            list-style-image: none;
            list-style-type: none;

            > a {
                padding-right: 25px;

                &:before {
                    content: "\f0dd";
                    color: $black;
                    @include fontawesome;
                    position: absolute;
                    right: 9px;
                    top: 50%;
                    // font-size: 8px;
                    background: none;
                    width: auto;
                    height: auto;
                    line-height: 1;
                    margin-top: -10px;
                }
            }
        }

        ul.menu {
            position: absolute;
            left: 0;
            top: 33px;
            z-index: 100;
            background: #272727;
            border: 5px solid $red;
            width: 220px;
            display: none;

            li {
                float: none;
                border: none;
                margin: 0;
                padding: 0;
                border-top: #444 solid 1px;

                a {
                    color: $black;
                    border-radius: 0;
                    padding: 7px 15px;
                    text-transform: none;
                    font-family: arial;
                    font-size: 1em;

                    &:hover, &:focus {
                        background: none;
                        color: $red !important;
                    }
                }

                .active-trail, .active {
                    background: none;
                    color: $black;
                }

                &:first-child {
                    border: none;
                }

                &:hover, &:focus {
                    > a {
                        background: none;
                        color: $black;

                        &:before {
                            color: $black;
                        }
                    }

                    ul.menu {
                        display: block;
                    }
                }

                ul.menu {
                    left: 190px;
                    top: 10px;
                    display: none;
                }
            }

            li.active-trail, li.active {
                background: none;
                color: $black;
            }

            .expanded {
                list-style-image: none;
                list-style-type: none;

                > a {
                    &:before {
                        content: "\f0da";
                        top: 11px;
                        color: $black;
                    }
                }
            }
        }
    }
}

/* panel first */
#panel_first {
    background: $black;
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
        color: $black;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .container {
        position: relative;
    }
}

.slick-slider {
    margin-bottom: 0;
    .slick-dots{
        display: none !important;
    }
    .slick-slide {
        position: relative;
        overflow: hidden;


        @include transition(opacity 0.3s);

        .views-field {
            margin-right: 28px;
        }

        .views-field-title {
            margin-bottom: 0;

            .field-content {
                background: $white;
                border-bottom: 2px solid #333;
                display: block;
                padding: 10px 15px;
                font-size: 1.14em;
                min-height: 68px;
                color: $black;

                a {
                    color: $black;
                }
            }
        }

        .views-field-created {
            position: absolute;
            right: 28px;
            top: 0;
            background: url(../images/bg-date.png) no-repeat 100% 0;
            z-index: 10;
            height: 55px;
            width: 100%;
            padding-right: 0;
            margin-right: 0;

            .date-wrapper {
                display: block;
                float: right;
                overflow: hidden;
                padding: 12px 0 0;
                width: 103px;
                color: #333;
            }

            .field-content {
                display: block;
                float: right;
                overflow: hidden;
                padding: 18px 0 0;
                width: 103px;
                color: #333;
                padding: {
                    left: 5px;
                    right: 5px;
                };
                text-align: center;
                font-family: 'oswaldregular';
                font-size: 15px;
                text-transform: uppercase;
            }

            .date-left {
                display: block;
                float: left;
                font-family: 'oswaldregular';
                font-size: 2em;
                line-height: 1.2;
                text-align: center;
                width: 49px;
            }

            .date-right {
                border-left: 1px solid #999;
                display: block;
                float: left;
                line-height: 1.2;
                text-align: center;
                text-transform: uppercase;
                width: 53px;

                .month {
                    display: block;
                }
            }
        }

        &:hover, &:focus {
            @include opacity(1);
        }
    }

    .slick-prev, .slick-next {
        width: 24px;
        height: 24px;
        margin: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 2px solid #fff;
        background: $red;
        color: $white;
        text-align: center;
        top: -44px;
        position: absolute;
        font-size: 0;
        line-height: 20px;
        padding: 0;

        @extend %button_effect_3;

        &:before {
            @include fontawesome;

            font-size: 18px;
            margin-top: 1px;
        }

        &:hover, &:focus, &:active {
            background: $white;
        }
    }

    .slick-next {
        right: 23px;

        &:before {
            content: "\f0da";
            margin-left: 3px;
        }
    }

    .slick-prev {
        left: auto;
        right: 52px;

        &:before {
            content: "\f0d9";
            margin-right: 1px;
        }
    }
}

/* panel second */
#panel_second {
    background: $dark;
    padding: 30px 0;
    color: $white;
    h2 {
        font-size: 1.285em;
        color: $white;
        text-transform: uppercase;
    }

    .menu {
        margin: 0;

        li {
            border-top: 1px dotted #393939;
            padding: 7px 0 7px 15px;
            position: relative;

            &:first-child {
                border-top: none;
            }

            a {
                color: $white;

                &:hover, &:focus {
                    color: $red;
                }

                &:before {
                    content: "+";
                    position: absolute;
                    left: 0;
                    top: 6px;
                }
            }
        }
    }

    .views-row {
        margin-bottom: 20px;

        .views-field-field-image {
            float: left;
            margin: 0 15px 5px 0;
        }
    }
}

.gallery-list {
    .views-row {
        margin-bottom: 10px !important;

        .views-col {
            margin-right: 10px;
        }

        .views-field {
            margin-bottom: 0;
        }
    }

    .more-link {
        text-align: left;
    }
}

.contact-info {
    p {
        margin-bottom: 5px;
    }
}

.social-wrap {
    overflow: hidden;
    padding-top: 10px;
    border-top: 1px dotted #393939;
    p {
        display: inline-block;
        margin: 0 5px 0 0;
    }

    .social-list {
        margin: 0;
        display: inline-block;

        li {
            padding: 0;
            margin-right: 3px;

            a {
                display: inline-block;
                background: $red;
                color: $white;
                padding: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;

                &:hover {
                    background: $white;
                    color: $red;
                }
            }
        }
    }
}

/* footer */
#footer {
    background: $black;
    border-top: 1px solid #222;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;

        .block {
            width: 50%;
            float: left;
        }

        .block-menu {
            padding-top: 3px;
        }
    }

    .menu {
        margin: 0;
        float: right;

        li {
            float: left;
            margin-left: 10px;
            line-height: 100%;
            border-left: 1px solid #333;
            padding: 0 0 0 10px;

            a {
                color: $white;

                &:hover {
                    color: $red;
                }
            }

            &:first-child {
                border-left: none;
            }
        }
    }
}

/* breadcrumb */
.front {
    #breadcrumb {
        display: none;
    }
}

#breadcrumb {
    background: $black;
    border-top: 1px solid #222;

    .breadcrumb {
        margin-bottom: 0;
        background: none;
        padding: 10px 0;
        border-radius: 0;

        a {
            color: $grey;

            &:hover, &:focus {
                color: $red;
            }
        }
    }
}

.btn-btt {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    background: #555;
    width: 40px;
    height: 40px;
    color: $grey;
    text-align: center;
    line-height: 40px;
    z-index: 999;
    opacity: 0.7;

    &:before {
        content: "\f176";
        @include fontawesome;
    }

    &:hover, &:focus {
        background: $red;
        color: $white;
        opacity: 1;
    }
}

.page #main .content .node {
    .node__meta {
        margin-bottom: 14px;
    }
}

.more-link {
    a {
        &:before {
            content: "+";
            margin-right: 5px;
        }
    }
}

.menu--account {
    ul.menu {
        margin: {
            left: 0;
        };

        a {
            &:before {
                content: "+";
                margin-right: 5px;
            }
        }
    }

    .menu-item:hover {
        background: transparent;
    }
}

.navbar-default ul.menu > li {
    padding: 0;

    &:hover, &:focus {
        background: transparent;
    }

    > a {
        &.is-active {
            background: $red;
            color: #fff;

            @include text-shadow(inherit);

            &:hover, &:focus {
                color: #fff;
            }
        }

        &:hover, &:focus {
            color: $red;
        }
    }
}

.region-footer {
  color: $white;

}